<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Wallet</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="playersTbody">
    <%= render @players %>
  </tbody>
</table>
<%= link_to 'New player', new_player_path, id: 'newPlayer', class: 'btn btn-primary btn-sm', data: { remote: true } %>