<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Wallet</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @players %>
  </tbody>
</table>