<div class="playersTable">
  <div class="playersThead">
    <div class="row">
      <div class="col-3">Name</div>
      <div class="col-3">Email</div>
      <div class="col-3">Wallet</div>
    </div>
  </div>
  <div id="playersTbody">
    <%= render @players %>
  </div>
</div>
<%= link_to 'New player', new_player_path, id: 'newPlayer', class: 'btn btn-primary btn-sm', data: { remote: true } %>